*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lilita One', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
}
.main{
  background-image: url('https://textinmotion.tv/media/backgrounds/000/000/433/background/full/QuizText-BG.jpg');
  background-size: cover;
}
.result{
  height:100vh;
  width:100%;
}
#background-gif{
  background-image: url(./images/win.gif);
}
.q-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  
}
.quest-box{
  width: 900px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.ans{
  width: 357px;
  cursor: pointer;
  height: auto;
  padding: 5px;
  color: white;
}
#green{
  background-color: green;
}
#red{
  background-color: red;
}
#blue{
  background-color: blue;
}
.row{
  width: 800px;
}
@media (max-width:800px){
.quest-box{
  width: auto;
}
}